<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mario.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D0ECC8E56B4BDEA38E20A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295679791C29452A89C734AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FB5B22379BD4C0A9AE2688B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C96A839F68248149F7D9AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96AA8A252498458F839F4A3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F869C4FC5C0B4A119DE32DCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
